<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Test Frontend</span>
  <span class="toolbar-space"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item [routerLink]="['/tutorial', 'tutorials']">Tutoriales</button>
    <button mat-menu-item [routerLink]="['/tutorial', 'add']">Crear Tutorial</button>
  </mat-menu>
</mat-toolbar>
